.about-wrapper .about-heading{
    background: url('../images/gvlawyers-local-6ebkolKq57KvYmi.png') center center;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.about-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    margin-top: -100px;
}

.about-heading .abouts{
    width: 85%;
    max-width: 100%;
    text-align: center;
    color: #fff;

}

.about-heading .abouts h3::after{
    content: '';
    background: #fff;
    display: block;
    width: 70px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-heading{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}

.about-heading.show{
    opacity: 1;
    transform: translateY(0);
}

.abouts {
    opacity: 0;
    transform: translateY(60px);
    transition: opacity 1.3s ease, transform 1.3s ease;
}

.about-heading.show .abouts {
    opacity: 1;
    transform: translateY(0);
}

.about-heading h3,
.about-heading p,
.about-heading img {
    opacity: 0;
    transform: translateY(50px);
    transition: all .8s cubic-bezier(.22,1,.36,1);
}

.about-heading.show h3,
.about-heading.show p,
.about-heading.show img {
    opacity: 1;
    transform: translateY(0);
}

.about-heading.show h3 { transition-delay: .1s; }
.about-heading.show p  { transition-delay: .3s; }
.about-heading.show img { transition-delay: .5s; }

.about-image img{
    object-fit: cover;
    width: 100%;
    border-radius: 15px;
}

.row{
    padding-bottom: 50px;
}

.about-content{
    padding:0 15px 15px 15px;
}

.about-content h3{
    font-size: 32px;
    line-height: 42px;
}

.about-content h3>strong{
    color: #DA1E48;
}

.about-content h3::after{
    content: '';
    background: #DA1E48;
    display: block;
    width: 20%;
    height: 2px;
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}


.about-content p{
    line-height: 25px;
    padding-bottom: 15px;
    color: #808289;
    font-weight: 500;
}

.about-content a{
    background: #DA1E48;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 7px;
}

.about-image,
.about-content{
    opacity: 0;
    transition:
        opacity 1.5s cubic-bezier(.22,1,.36,1),
        transform 1.5s cubic-bezier(.22,1,.36,1);
}

.row-top .about-image{
    transform: translateX(-180px);
}

.row-top .about-content{
    transform: translateX(180px);
}

.row-bottom .about-image{
    transform: translateX(180px);
}

.row-bottom .about-content{
    transform: translateX(-180px);
}


.about-row.show .about-image,
.about-row.show .about-content {
    opacity: 1;
    transform: translateX(0);
}

.btn-about:hover{
    background: #A61939;
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,.2);
}

.firm{
    background: url('../images/gvlawyers-local-sFivV9RtW0nv5Q2.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}

.firm .col-12 h3{
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    line-height: 45px;
}

.firm .col-12 h3::after{
    content: '';
    background: #fff;
    display: block;
    position: relative;
    width: 70px;
    height: 4px;
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    
}
.firm .row{
    text-align: center;
    padding-bottom: 30px;
}

.firm .col-3{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0px 25px;
}

.firm .following-icon{
    width: 100px;
    height: 100px;
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.firm .following-content h3{
    font-size: 18px;
    font-weight: 700;
}

.firm .following-content p{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;

}

.firm .following-content{
    margin-top: 10px;
}

.firm > .container > .row:first-child {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1s cubic-bezier(.22,1,.36,1);
}

.firm > .container > .row:first-child.show {
    opacity: 1;
    transform: translateY(0);
}

.firm .col-3 {
    opacity: 0;
    transform: translateY(80px);
    transition: all 1s cubic-bezier(.22,1,.36,1);
}

/* Khi xuất hiện */
.firm .row:nth-child(2).show .col-3 {
    opacity: 1;
    transform: translateY(0);
}

/* Delay từng cột
.firm.show .col-3:nth-child(1) {
    transition-delay: .2s;
}

.firm.show .col-3:nth-child(2) {
    transition-delay: .4s;
}

.firm.show .col-3:nth-child(3) {
    transition-delay: .6s;
}

.firm.show .col-3:nth-child(4) {
    transition-delay: .8s;
} */
