.about-wrapper .about-heading{
    background: url('../images/gvlawyers-local-6ebkolKq57KvYmi.png') center center;
    height: 350px;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 20px;
}