.search-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    width: 100%;
}

.search-wrapper .search-field{
    height: 40px;
    border: solid 1px #e5e5e5;
    border-right: none;
    width: 75%;
}

.search-wrapper .search-submit{
    background: #fff;
    border: solid 1px #e5e5e5;
    border-left: none;


}

#search-results{
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    width: 100%;

    background: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;

    box-shadow: 0 10px 30px rgba(0,0,0,.12);

    display: none;

    z-index: 9999;

    max-height: 400px;
    overflow-y: auto;
    opacity: 0.95;
}

#search-results .search-thumb img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#search-results .search-info h4{
    font-size: 18px;
}

#live-search{
    padding: 0px 10px;
}

.search-item{
    display: flex;
    gap: 15px;
    align-items: center;

    padding: 15px;

    text-decoration: none;

    color: #222;

    border-bottom: 1px solid #eee;

    transition: .3s;
}

.search-item:last-child{
    border-bottom: none;
}

.search-item:hover{
    background: #f7f7f7;
}